*.log
# /
/config
/configure
/Makefile.in
/autom4te.cache
/aclocal.m4
/*.ncb
/*.opt
/*.plg
/*.suo
/*.user
/ClrDebug
/ClrRelease
/ClrDebug
/ClrRelease
/Debug
/Release
/_*
/x64

# /database/
/database/Makefile.in

# /doc/
/doc/Makefile.in
/doc/README
/doc/RELEASE

# /examples/
/examples/Makefile.in
/examples/error.inp
/examples/ex1.log
/examples/ex10.log
/examples/ex11.log
/examples/ex12.log
/examples/ex12a.log
/examples/ex13a.log
/examples/ex13ac.log
/examples/ex13b.log
/examples/ex13c.log
/examples/ex14.log
/examples/ex15.log
/examples/ex15a.log
/examples/ex15b.log
/examples/ex16.log
/examples/ex17.log
/examples/ex17b.log
/examples/ex18.log
/examples/ex19.log
/examples/ex19b.log
/examples/ex2.log
/examples/ex20_open
/examples/ex20a.log
/examples/ex20b.log
/examples/ex22.log
/examples/ex2b.log
/examples/ex3.log
/examples/ex4.log
/examples/ex5.log
/examples/ex6.log
/examples/ex7.log
/examples/ex8.log
/examples/ex9.log

# /msi/
/msi/bin
/msi/obj
/msi/msi.suo

# /mytest/
/mytest/selected_output*
/mytest/dump.out
/mytest/in.prn
/mytest/1.out
/mytest/DanglingHyphen
/mytest/DanglingHyphen.out
/mytest/HCl.txt
/mytest/brad
/mytest/co2_150.prn
/mytest/co2_25.prn
/mytest/co2_56.prn
/mytest/co2_76.prn
/mytest/co2_96.prn
/mytest/cvode _orig/
/mytest/cvode.txt
/mytest/cvode/
/mytest/density_mgl
/mytest/density_mgl.out
/mytest/ex22bnew.sel
/mytest/ex8.sel
/mytest/k10i.dmp 1
/mytest/k10i.prn
/mytest/list_of_files.txt
/mytest/make.out
/mytest/out
/mytest/out1
/mytest/phreeqc.log
/mytest/reldiff.exe
/mytest/rho24.prn
/mytest/rho49.prn
/mytest/rho5.prn
/mytest/rho74.prn
/mytest/rho99.prn
/mytest/rhoCaKMgNaCl15.prn
/mytest/rhoCaKMgNaCl25.prn
/mytest/rhoCaKMgNaCl35.prn
/mytest/rhoCaKMgNaCl45.prn
/mytest/run_copy_test.bat
/mytest/sel_o$$$101.prn
/mytest/selected.sel
/mytest/selected_output_1.sel
/mytest/selected_output_100.sel


# /packages/
/packages/history
/packages/dist-*.log
/packages/phreeqc-*.tar.gz
/packages/README.Linux.*.TXT

# /src/
/src/Makefile.in
/src/ignore_files
/src/phreeqc
/src/phreeqc.dat
/src/minteq.dat
/src/wateq4f.dat
/src/llnl.dat
/src/*.out
/src/*.sel
/src/*.log
/src/*.pqi
/src/run2
/src/val
/src/.deps
/src/.dirstamp
/src/Class_release
/src/Class_release_64
/src/Class_debug_64
/src/Class_debug

# /test/
#/test/Makefile.in

/HTMLversion/ClrDebug/
/Tony180215/
/Tony180215rename/
/Tony180305/
/Tony180309/
/Tony180623/
/Tony20180405/
/database/pitzer_old.dat
/diff.out
/diffs
/examples/ex21.log
/examples/phreeqc.log
/mytest/.gitignore
/mytest/DFmodel7.xls
/mytest/ILLITIZATION test.xls
/mytest/Zn1e_4
/mytest/Zn1e_7
/mytest/dump
/mytest/error.inp
/mytest/t
/mytest_tony.zip
/mytest_tony/
/phreeqcpp.VC.db
/phreeqcpp2015.VC.db
/src/phreeqc.aps
/src/phreeqc.rc
/src/resource.h
/src20180507.zip
/src20180507/
