
# /
/config
/configure
/Makefile.in
/autom4te.cache
/aclocal.m4
/*.ncb
/*.opt
/*.plg
/*.suo
/*.user
/ClrDebug
/ClrRelease
/ClrDebug
/ClrRelease
/Debug
/Release
/_*
/x64

# /database/
/database/Makefile.in

# /doc/
/doc/Makefile.in
/doc/README
/doc/RELEASE

# /examples/
/examples/Makefile.in

# /msi/
/msi/bin
/msi/obj
/msi/msi.suo

# /packages/
/packages/history
/packages/dist-*.log
/packages/phreeqc-*.tar.gz
/packages/README.Linux.*.TXT

# /src/
/src/Makefile.in
/src/ignore_files
/src/phreeqc
/src/phreeqc.dat
/src/minteq.dat
/src/wateq4f.dat
/src/llnl.dat
/src/*.out
/src/*.sel
/src/*.log
/src/*.pqi
/src/run2
/src/val
/src/.deps
/src/.dirstamp
/src/Class_release
/src/Class_release_64
/src/Class_debug_64
/src/Class_debug

# /test/
/test/Makefile.in
