<?xml version="1.0" encoding="UTF-8"?>

<?include Version.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- product -->
  <Product Id="*"
           Name="$(var.FullName)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeGuid)">
    
<?if $(sys.BUILDARCH)=x64 ?>
    <Package InstallerVersion="400" Compressed="yes" Platform="x64"/>
<?else?>
    <Package InstallerVersion="400" Compressed="yes" Platform="x86"/>
<?endif?>

    <!-- Prereqs -->
    <PropertyRef Id="NETFRAMEWORK20"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <!-- NT only -->
    <Condition Message="[ProductName] requires a Windows NT based OS (Windows 2000 or later, specifically).">
      <![CDATA[VersionNT]]>
    </Condition>

    <!-- Windows 2000 or higher -->
    <Condition Message="[ProductName] requires a Windows NT based OS (Windows 2000 or later, specifically).">
      <![CDATA[VersionNT >= 500]]>
    </Condition>
    
    <!-- 
    This disallows non-admin installations 
    can be overriden using 
        msiexec /i Phreeqci.msi ALLOW_PER_USER=1
    on the command line
    -->
    <Condition Message="An administrator must approve or install [ProductName].">
      <![CDATA[Privileged OR (Installed OR ALLOW_PER_USER)]]>
    </Condition>

    <!-- .Net framework 2.0/4.0 -->
    <Condition Message="This application requires .NET Framework 2.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK20 OR NETFRAMEWORK40FULL)]]>
    </Condition>

    <Media Id="1" Cabinet="$(var.Cabinet)" EmbedCab="yes" />

    <!-- directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- program files -->
<?if $(sys.BUILDARCH)=x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.FolderName)">
          <Directory Id="bin" Name="bin">
            <Directory Id="Release" Name="Release"/>
            <Directory Id="ClrRelease" Name="ClrRelease"/>
          </Directory>
          <Directory Id="database" Name="database"/>
          <Directory Id="doc" Name="doc"/>
          <Directory Id="examples" Name="examples"/>
          <Directory Id="src" Name="src">
            <Directory Id="common" Name="common"/>
            <Directory Id="PhreeqcKeywords" Name="PhreeqcKeywords"/>
          </Directory>
          <Directory Id="test" Name="test"/>
        </Directory>
      </Directory>
<?else?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.FolderName)">
          <Directory Id="bin" Name="bin">
            <Directory Id="Release" Name="Release"/>
            <Directory Id="ClrRelease" Name="ClrRelease"/>
          </Directory>
          <Directory Id="database" Name="database"/>
          <Directory Id="doc" Name="doc"/>
          <Directory Id="examples" Name="examples"/>
          <Directory Id="src" Name="src">
            <Directory Id="common" Name="common"/>
            <Directory Id="PhreeqcKeywords" Name="PhreeqcKeywords"/>
          </Directory>
          <Directory Id="test" Name="test"/>
        </Directory>
      </Directory>
<?endif?>
      <!-- start menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.FullName)"/>
      </Directory>
    </Directory>

    <!-- top dir -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="top.dir" Guid="A30D01A1-F3DC-4c7e-BDB5-00E30BA4F209">
        <!-- path -->
        <Environment Id="phreeqc_root" Name="PHREEQC_ROOT" Action="set" Part="all" System="yes" Value="[APPLICATIONFOLDER]" />
        <Environment Id="path_phreeqc" Name="PATH_PHREEQC" Action="set" Part="all" System="yes" Value="[APPLICATIONFOLDER]bin" />
        <Environment Id="path" Name="Path" Action="set" Part="last" System="yes" Value="%PATH_PHREEQC%" />
        <!-- text files -->
        <File Id="NOTICE.TXT" Name="NOTICE.TXT" Source="..\doc\NOTICE.TXT" />
        <File Id="README.TXT" Name="README.TXT" Source="..\doc\README.Phreeqc.TXT" />
        <File Id="RELEASE.TXT" Name="RELEASE.TXT" Source="..\doc\RELEASE.TXT" />
        <!-- project files -->
        <File Id="phreeqc.sln" Name="phreeqc.sln" Source="..\phreeqcpp.2005.sln" />        
        <File Id="phreeqc.vcproj" Name="phreeqc.vcproj" Source="..\phreeqc.vcproj" />
        <File Id="ZedGraph.vsprops" Name="ZedGraph.vsprops" Source="..\ZedGraph.vsprops" />
        <File Id="resource.h" Name="resource.h" Source="..\resource.h" />
        <File Id="phreeqc.rc" Name="phreeqc.rc" Source="..\phreeqc.rc" />
        <File Id="phreeqc_version.h" Name="phreeqc_version.h" Source="..\phreeqc_version.h" />
        <File Id="app.config" Name="app.config" Source="..\app.config" />
      </Component>
    </DirectoryRef>

    <!-- doc -->
    <DirectoryRef Id="doc">
      <Component Id="doc" Guid="{0C4E6C5A-66F9-499b-97A9-CE4E4EFD633D}">
        <File Id="filDA4893EAA735D8EA151EDCF3107A8D89" Source="..\doc\Phreeqc_2_1999_manual.pdf" />
        <File Id="fil7A27979B03AD463A2FEA70205E694754" Source="..\doc\Phreeqc_3_2013_manual.pdf" />
        <File Id="fil5F379D629211874DFB03357D7E17E72E" Source="..\doc\phreeqc.txt" />
        <File Id="fil55394A9EBD892E09CA706026D64063D7" Source="..\doc\wrir02-4172.pdf" />
        <File Id="fil9B37075E1491A19B71F0ADA11FCB4ACA" Source="..\HTMLversion\phreeqc3.chm" Name="phreeqc3.chm" />
      </Component>
    </DirectoryRef>

    <!-- database -->
    <DirectoryRef Id="database">
      <Component Id="database" Guid="F17B9EFD-0CE1-4a33-AF39-AB1F8DC7D966">
        <File Id="phreeqc.dat"   Name="phreeqc.dat"   Source="..\database\phreeqc.dat" KeyPath="yes" />
        <File Id="Amm.dat"       Name="Amm.dat"       Source="..\database\Amm.dat" />
        <File Id="frezchem.dat"  Name="frezchem.dat"  Source="..\database\frezchem.dat" />
        <File Id="iso.dat"       Name="iso.dat"       Source="..\database\iso.dat" />
        <File Id="llnl.dat"      Name="llnl.dat"      Source="..\database\llnl.dat" />
        <File Id="minteq.dat"    Name="minteq.dat"    Source="..\database\minteq.dat" />
        <File Id="minteq.v4.dat" Name="minteq.v4.dat" Source="..\database\minteq.v4.dat" />
        <File Id="pitzer.dat"    Name="pitzer.dat"    Source="..\database\pitzer.dat" />
        <File Id="sit.dat"       Name="sit.dat"       Source="..\database\sit.dat" />
        <File Id="wateq4f.dat"   Name="wateq4f.dat"   Source="..\database\wateq4f.dat" />
      </Component>
    </DirectoryRef>

    <!-- examples -->
    <DirectoryRef Id="examples">
      <Component Id="examples" Guid="593C751F-687C-4089-BE85-CA1CB6AF3A96">
        <File Id="filE81E4FC0200D24E60A6DDC3063D2F40F" Source="..\examples\ex1" KeyPath="yes" />
        <File Id="filCB9A0990FD69EEFF1E046E2D783435DF" Source="..\examples\ex10" />
        <File Id="fil75A2EECD55C4138A8FAB112546247123" Source="..\examples\ex11" />
        <File Id="fil835E30B4BA9E1AFBF2E520369EE6F888" Source="..\examples\ex12" />
        <File Id="filD4FB8BC4A68DBA43CC35A8318721610E" Source="..\examples\ex12a" />
        <File Id="fil6D6A6123D0CEB008DD46C8B6EA288440" Source="..\examples\ex13a" />
        <File Id="fil162B220DE30059EA24EA74F705FFFD6B" Source="..\examples\ex13b" />
        <File Id="fil81AAE2766CD897C550FD3B1BA746D568" Source="..\examples\ex13c" />
        <File Id="filAB87D3EDD1ADF4DDFC239D5167DC41DD" Source="..\examples\ex13ac" />
        <File Id="filB52C1C744F4162EBA302960CD545EB41" Source="..\examples\ex14" />
        <File Id="fil3B288268CD7D7B2F1DE726693AE768B3" Source="..\examples\ex15" />
        <File Id="fil1F9571EBCC21B10B1DE2241C67CFA567" Source="..\examples\ex15.dat" />
        <File Id="fil705E6B749246E80BBD997CD38E7DB8E5" Source="..\examples\ex15a" />
        <File Id="filBCE32EEC57792223A05D9A1E2EF1420A" Source="..\examples\ex15b" />
        <File Id="filA803FB127A5A768E384083BDD89EEC46" Source="..\examples\ex16" />
        <File Id="filF21B8E6A585B169CD07116C40EC57114" Source="..\examples\ex17" />
        <File Id="filDCBDECF489A0B0ECC48A36339FA4E4C3" Source="..\examples\ex17b" />
        <File Id="fil06FCD8861BCD652AEAC79EF98F22006C" Source="..\examples\ex18" />
        <File Id="fil8251EB34C91D382360D780B75501B2C8" Source="..\examples\ex19" />
        <File Id="filAAEB0E65E28F1961DB7714E79A0AF00D" Source="..\examples\ex19_meas.tsv" />
        <File Id="filF16ED7D536B3C3BE6212B8BB40E21E62" Source="..\examples\ex19b" />
        <File Id="filF457C089C9DEF00AB45CE417E786565A" Source="..\examples\ex2" />
        <File Id="filB6F270D7E8BDD51E7F18B0DA177490DB" Source="..\examples\ex2b" />
        <File Id="filD60562ED8BBBDDE96E77AF6E5344EB7E" Source="..\examples\ex2b.tsv" />
        <File Id="fil80A9E914E0812BA14F1E6A1A6138BFF8" Source="..\examples\ex20a" />
        <File Id="fil72F0C58801687CCC066E0C5C12D4387D" Source="..\examples\ex20b" />
        <File Id="fil15A2DF757B5A7C79F1052B5EB07F24AA" Source="..\examples\ex20-c13.tsv" />
        <File Id="filD03DC7B96AD1FA597005C640E2A9A5BE" Source="..\examples\ex20-c14.tsv" />
        <File Id="filD5C4620DFD0E3BD01D5E9917A259A505" Source="..\examples\ex21" />
        <File Id="fil9B21D61C84E2D4E4ADE0B095240F58EB" Source="..\examples\ex21_Cl_tr_rad.tsv" />
        <File Id="fil31940a488d1285dfc1b602b27034ef6c" Source="..\examples\ex21_Cs_rad.tsv" />
        <File Id="fil3BF1EA1CD7623A6F43B813B0806EB109" Source="..\examples\ex21_HTO_rad.tsv" />
        <File Id="fil3802DD8BA928485B6E782CD8D98A7546" Source="..\examples\ex21_Na_tr_rad.tsv" />
        <File Id="fil4F997D6B04CF2B3BB664D94BF1F5491D" Source="..\examples\ex22" />
        <File Id="fil2F297791D5D13DF3C3E2F0637D37DA9B" Source="..\examples\co2.tsv" />
        <File Id="filC3132D15A40295DFB771553703C9595F" Source="..\examples\ex3" />
        <File Id="fil4382247A8C26993D74515AF912FE997C" Source="..\examples\ex4" />
        <File Id="filC51170661B7FE493B30EBAC78A0F095C" Source="..\examples\ex5" />
        <File Id="fil35ACE33D3B185C718F6FF9489EE3EE77" Source="..\examples\ex6" />
        <File Id="fil52FC6E38B32A7815A3874FAD61977272" Source="..\examples\ex7" />
        <File Id="fil20184746F38ADD4D2A110C1C46D520E0" Source="..\examples\ex8" />
        <File Id="filE93FC0179DD708AB83520BFB0C8818D4" Source="..\examples\ex9" />
      </Component>
    </DirectoryRef>

    <!-- examples\examples_pc -->
    <DirectoryRef Id="examples">
      <Component Id="examples_pc" Guid="D3AE1366-C441-413c-954D-C37A12EA180E">
        <File Id="fil769FD0424D29D7326655D21B1E3EF1CD" Source="..\examples\examples_pc\ex1.out" />
        <File Id="fil2987323360A0733784C7875CCAD7B14B" Source="..\examples\examples_pc\ex10.out" />
        <File Id="fil9CC0A921C8F939B1CCF30AC6A8624652" Source="..\examples\examples_pc\ex10.sel" />
        <File Id="fil3627748901B66D7ED1EF2F911088D9E8" Source="..\examples\examples_pc\ex11.out" />
        <File Id="fil2B7835C54CF2F846F6929FD4601C2C07" Source="..\examples\examples_pc\ex11adv.sel" />
        <File Id="fil0BF1F15AE180E5CFD11D4E672F2E79B3" Source="..\examples\examples_pc\ex11trn.sel" />
        <File Id="filD699749C27E489A8A202F3B5A540A2C3" Source="..\examples\examples_pc\ex12.out" />
        <File Id="fil37642D6A43B902DE2F2C19057205E219" Source="..\examples\examples_pc\ex12.sel" />
        <File Id="fil6FA9D3D6856AB9A45E399BF0AD0C6E5D" Source="..\examples\examples_pc\ex12a.out" />
        <File Id="fil0C83258504C6081FDCE6AB964508C118" Source="..\examples\examples_pc\ex12a.sel" />
        <File Id="filD86E3C15B0E663279B2724A1E2D3066A" Source="..\examples\examples_pc\ex13a.out" />
        <File Id="filB58EFE783A0164DE3B0C3B94C89CEB76" Source="..\examples\examples_pc\ex13a.sel" />
        <File Id="fil6992798AEDB1D5D3701A8A0FF8097FE0" Source="..\examples\examples_pc\ex13b.out" />
        <File Id="filFC3F2F459525D4EC9D041AA8671FB910" Source="..\examples\examples_pc\ex13b.sel" />
        <File Id="fil9E91F44C3CD3F88D8A41980C016AC658" Source="..\examples\examples_pc\ex13c.out" />
        <File Id="filEBEEE8204241419D8C2E52DAD2E733F0" Source="..\examples\examples_pc\ex13c.sel" />
        <File Id="fil48E5DE547391C849C6B92E0903B17949" Source="..\examples\examples_pc\ex13ac.out" />
        <File Id="filF3F76685B9F763416775B3748F1C57CD" Source="..\examples\examples_pc\ex14.out" />
        <File Id="filE0FF587D847F810308231496482BC045" Source="..\examples\examples_pc\ex14.sel" />
        <File Id="fil758A5C1E4424E124392CF2A9F96756F1" Source="..\examples\examples_pc\ex15.out" />
        <File Id="fil97EB47DC4ADFC32960399047E29A1B9C" Source="..\examples\examples_pc\ex15.sel" />
        <File Id="fil807F0E88313F4244AC3438C9642E8A66" Source="..\examples\examples_pc\ex15a.out" />
        <File Id="filB9042E04DA7F4C59D20DF19866683EF8" Source="..\examples\examples_pc\ex15b.out" />
        <File Id="fil077198E758D5307439133A3E291942AD" Source="..\examples\examples_pc\ex16.out" />
        <File Id="filD8B9EA84A0396402F660F987F350E86B" Source="..\examples\examples_pc\ex17.out" />
        <File Id="fil3993F9070B09ECB3073CFB7EBF8A7961" Source="..\examples\examples_pc\ex17b.out" />
        <File Id="filD8FDD8F871B05AE27EA7A40BBB20CB48" Source="..\examples\examples_pc\ex18.out" />
        <File Id="fil778B388EBE5271278DB541AF068CE5E9" Source="..\examples\examples_pc\ex19.out" />
        <File Id="fil0A717BD88C7A95EBE81CE984EE6123AC" Source="..\examples\examples_pc\ex19b.out" />
        <File Id="filDAE94EA49B489FA392AA0EC2FB0C5676" Source="..\examples\examples_pc\ex2.out" />
        <File Id="filEAC8309D799E6EF85EC79EEB15D9FD9C" Source="..\examples\examples_pc\ex2.sel" />
        <File Id="filCC98A380C359A11189FE451EBB2132FC" Source="..\examples\examples_pc\ex2b.out" />
        <File Id="fil2092085535B9AB33C014983CD6AB4067" Source="..\examples\examples_pc\ex20a.out" />
        <File Id="filEF3974543961D0B3D66A5C5013823325" Source="..\examples\examples_pc\ex20b.out" />
        <File Id="filE1E824FE0409423D1960E7520E481DF9" Source="..\examples\examples_pc\ex21.out" />
        <File Id="fil8AF737A3B00EAFEA6F4A875DEC6335AB" Source="..\examples\examples_pc\ex22.out" />
        <File Id="filE3CEB24139E16CB92BCC80F5D81CB9A2" Source="..\examples\examples_pc\ex3.out" />
        <File Id="fil2ECF5FDE468577AF0B22E7F3B1E785AE" Source="..\examples\examples_pc\ex4.out" />
        <File Id="filC58BA2C5EB264C6049C58F19397EBA2D" Source="..\examples\examples_pc\ex5.out" />
        <File Id="filF00BDD0791D5299893839F678FC38F04" Source="..\examples\examples_pc\ex5.sel" />
        <File Id="filF8D3BEE228E14778FB0E3F86BABDB127" Source="..\examples\examples_pc\ex6.out" />
        <File Id="fil37F98F3E7759A294CFA0574CDF9C9C00" Source="..\examples\examples_pc\ex6A-B.sel" />
        <File Id="filA74EEF92781902419A7D0D21041670AA" Source="..\examples\examples_pc\ex6C.sel" />
        <File Id="filAF1FACDFAA95D8C1F8038BE8C507C7CA" Source="..\examples\examples_pc\ex7.out" />
        <File Id="filE20A1A7F627DA589C6D00DC8C06CC872" Source="..\examples\examples_pc\ex7.sel" />
        <File Id="fil86C64137C307CEEAB255B4B0355CA045" Source="..\examples\examples_pc\ex8.out" />
        <File Id="fil9DAC12280DC31A8D4CAABE2A1610C991" Source="..\examples\examples_pc\ex8.sel" />
        <File Id="filCF8185CAD4488E4EB7EBC7F6B8A0FB13" Source="..\examples\examples_pc\ex9.out" />
        <File Id="fil74D8A84C4181B834E1A19C614DB1BA6E" Source="..\examples\examples_pc\ex9.sel" />
      </Component>
    </DirectoryRef>

    <!-- src -->
    <DirectoryRef Id="src">
      <Component Id="src" Guid="{0A5B5749-74FE-49a7-A5DD-FE3325959576}">
        <File Id="fil3E10EC75ABC1FDC582C81EA9D854C710" Source="..\src\ChartHandler.cpp" KeyPath="yes" />
        <File Id="fil109339E6807DD047612EEA0F8EAFD54F" Source="..\src\ChartHandler.h" />
        <File Id="fil03D11773954FC1A6D061CA465CE8105A" Source="..\src\ChartObject.cpp" />
        <File Id="fil464B72C5B7D4BC98F4DC9DEEE66268AC" Source="..\src\ChartObject.h" />
        <File Id="filAB160316FAC2772223C8878BE5EA1CD1" Source="..\src\CurveObject.cpp" />
        <File Id="filE1F75D26F011FD96FD04FD68BF317ACD" Source="..\src\CurveObject.h" />
        <File Id="filF3AFA9E154D3CC722FCAA9B8DEEF6FBB" Source="..\src\Dictionary.cpp" />
        <File Id="fil7849A24962E4D1B6649802E19017F0A0" Source="..\src\Dictionary.h" />
        <File Id="fil9C9630FE371EB62EBDB8340716C6E3D0" Source="..\src\ExchComp.cxx" />
        <File Id="fil31F26D514BEC0ED7C75E99C83DBDFC44" Source="..\src\ExchComp.h" />
        <File Id="fil731FB394AF777CA7C8B89AB46D97788F" Source="..\src\Exchange.cxx" />
        <File Id="fil2FB08FC0F1C3CF2BA047E2F6B6BA59B7" Source="..\src\Exchange.h" />
        <File Id="filFAAE9555A17AEE06D82144FAADD70E0C" Source="..\src\Form1.h" />
        <File Id="fil012F54F5792B81343A7B36AA9FCE3AE5" Source="..\src\Form1.resX" />
        <File Id="fil47FFF808E75A5D49B21E77D876AE5EEF" Source="..\src\GasComp.cxx" />
        <File Id="filAF648B592E155030536D23745E364D98" Source="..\src\GasComp.h" />
        <File Id="filD99480336F34348EE6D4BA087F17A21C" Source="..\src\GasPhase.cxx" />
        <File Id="fil915DD0171295371D8B53EA421D39E68B" Source="..\src\GasPhase.h" />
        <File Id="filC7E181F79B138B541C2F0EF15D670B55" Source="..\src\ISolution.cxx" />
        <File Id="fil1A987CAE67BC1A7318DFFA714356F79C" Source="..\src\ISolution.h" />
        <File Id="fil6EC38E3B06EB9E46ABD82B74CB547D12" Source="..\src\ISolutionComp.cxx" />
        <File Id="fil05B20337D187FCC1B3EC15E475DC09E1" Source="..\src\ISolutionComp.h" />
        <File Id="fil2D2B41C8129F17B599A86EE462B89913" Source="..\src\KineticsComp.cxx" />
        <File Id="filBDC6C8402ECAE19E1477D43A09FFA7DC" Source="..\src\KineticsComp.h" />
        <File Id="fil06D2A2C2548AFE74E9781BD91BF743AE" Source="..\src\Makefile"/>
        <File Id="fil956EF099950AE50919F45A9097A132A2" Source="..\src\NA.h" />
        <File Id="filE49573BA9D02F19DD646C9C7E0A1811B" Source="..\src\NameDouble.cxx" />
        <File Id="fil0D5A04A0FD53CADB6803420C6F3A9BCB" Source="..\src\NameDouble.h" />
        <File Id="fil9E84D7185AC439C63F5BDAAEF0CD1DB0" Source="..\src\NumKeyword.cxx" />
        <File Id="fil84A0EAF06F34DD528A35811EBCCCF837" Source="..\src\NumKeyword.h" />
        <File Id="fil1FC36ABE9668FCFF64C37FD524C81C9D" Source="..\src\PBasic.cpp" />
        <File Id="fil28BB6F712AA7331E363A5B44F8DAD244" Source="..\src\PBasic.h" />
        <File Id="fil691953EA384E9DAA71907C47ED1AC7E0" Source="..\src\PHRQ_io_output.cpp" />
        <File Id="fil9F76C302ED82FA5EC40A5110E747937A" Source="..\src\PPassemblage.cxx" />
        <File Id="fil452F7E278ADFB07F0F6E5DC5222C74C4" Source="..\src\PPassemblage.h" />
        <File Id="fil3EA5475B118C3E1342DB4653C1A59C06" Source="..\src\PPassemblageComp.cxx" />
        <File Id="filF9B63AA157C41ED6FFE6E453F521A45C" Source="..\src\PPassemblageComp.h" />
        <File Id="filAF8B1CCA93BA0D501E08DA37C511919B" Source="..\src\Phreeqc.cpp" />
        <File Id="fil1BF74775827EF4015657B3A2BCB00417" Source="..\src\Phreeqc.h" />
        <File Id="fil33F63CB6ACAE1AED952ABC8E6FE88396" Source="..\src\Pressure.cxx" />
        <File Id="filC7C6ADE524139082228C8F7234264FF6" Source="..\src\Pressure.h" />
        <File Id="fil044937F16FA426043BB5E4D21CE28381" Source="..\src\Reaction.cxx" />
        <File Id="fil17857C5EE4EE6A0CBF979ECBFB35CA81" Source="..\src\Reaction.h" />
        <File Id="filF3B1852793ACE8A9FE274149491E3E6D" Source="..\src\ReadClass.cxx" />
        <File Id="fil636FA8C9CDAA8AD1ACBDD687AB627930" Source="..\src\SelectedOutput.cpp" />
        <File Id="filAF61870F9F290FAFA3A6E343F0E65467" Source="..\src\SelectedOutput.h" />
        <File Id="fil89ED827D3FEAF27F1379D6F467FCC6C0" Source="..\src\Serializer.cxx" />
        <File Id="filEE0340FF7BB12691B1BB4198BAF789BF" Source="..\src\Serializer.h" />
        <File Id="filFEC4D702AB3C10C14F48625BD5AAADD7" Source="..\src\SS.cxx" />
        <File Id="filF604DC289F50EBC6340A0ABD4E4E247A" Source="..\src\SS.h" />
        <File Id="fil42EF63CF5A47ACF40314668B64F4F208" Source="..\src\SSassemblage.cxx" />
        <File Id="fil6794462AE552720EFF0ED19C445F92E5" Source="..\src\SSassemblage.h" />
        <File Id="fil1B090798F2A2418CD2E624E8E9AF8441" Source="..\src\SScomp.cxx" />
        <File Id="filBCBEED49259CF531BB4C0FC65143267E" Source="..\src\SScomp.h" />
        <File Id="fil804677EA32F0BD12565863AA958903B7" Source="..\src\Solution.cxx" />
        <File Id="fil820B8AD1A28E842BA69BDFD625443F07" Source="..\src\Solution.h" />
        <File Id="fil0D9DBA5883073D1AF3C0B2A32007EFA4" Source="..\src\SolutionIsotope.cxx" />
        <File Id="filBCFCAF63C2FEBACDCF6815D2532D7C93" Source="..\src\SolutionIsotope.h" />
        <File Id="fil50F0FD3FFA6D6E7312FD22D85AE127EB" Source="..\src\StorageBin.cxx" />
        <File Id="fil5FB9EF43D394AE306AB231993FE8D826" Source="..\src\StorageBin.h" />
        <File Id="fil3A71CFBA62C93A27CFE8615108570419" Source="..\src\StorageBinList.cpp" />
        <File Id="fil86216C11B5E9AC6DEBFD3C4E4AAE949F" Source="..\src\StorageBinList.h" />
        <File Id="filAEA943421D35282AECC05A40B91E5D77" Source="..\src\Surface.cxx" />
        <File Id="fil2844A4E7BB9463F33A501CDB39A1180E" Source="..\src\Surface.h" />
        <File Id="filB0E20674B1241636C4DA71F3DC87FD74" Source="..\src\SurfaceCharge.cxx" />
        <File Id="fil7EF3144FC5E5EE4AFE37B70EB35EFD86" Source="..\src\SurfaceCharge.h" />
        <File Id="fil115A051F74882B3023E1F8AE2EB6BED0" Source="..\src\SurfaceComp.cxx" />
        <File Id="fil839F3B79C2BBCDD77080423372C3F4ED" Source="..\src\SurfaceComp.h" />
        <File Id="filE71FEAC0118BB9542F26AA4B7E677B76" Source="..\src\System.cxx" />
        <File Id="filEB4DACDFC3709F476B2F63266010403C" Source="..\src\System.h" />
        <File Id="fil5A8603A98BB2B56BA7E44C92F9E186EF" Source="..\src\Temperature.cxx" />
        <File Id="fil011959D2528660CF439F78CA25D9CA07" Source="..\src\Temperature.h" />
        <File Id="filF1C714CB5139897182B664DED794138B" Source="..\src\Use.cpp" />
        <File Id="fil9992624F3D00EBCFB3D88AD39D2FC5B8" Source="..\src\Use.h" />
        <File Id="fil903A3B662CACC2924D87D3E0C3EC64CD" Source="..\src\UserPunch.cpp" />
        <File Id="filABA04005CD1AA59318DF9994F334DE8C" Source="..\src\UserPunch.h" />
        <File Id="fil7096E07498A949E0C7EA9AAD4D4A58D8" Source="..\src\advection.cpp" />
        <File Id="fil7A2ED04338F7DEA565AD153F302ECB5A" Source="..\src\basicsubs.cpp" />
        <File Id="filC2DB32AA52BE92CC4A649EC8A42240A1" Source="..\src\chart_icon.gif" />
        <File Id="fil842FEE681D906BE2A7721F2B05A69EE7" Source="..\src\cl1.cpp" />
        <File Id="fil1FFDE0A985C368A9FA31DD629BA43A21" Source="..\src\cl1mp.cpp" />
        <File Id="filCBC09EEA16661F2C0770C0F8D451AC6D" Source="..\src\class_main.cpp" />
        <File Id="fil14500BA90C662A65239301CA51E03BD1" Source="..\src\cvdense.cpp" />
        <File Id="fil121315FB5E33945B8B2040647857A35B" Source="..\src\cvdense.h" />
        <File Id="fil0539CF7D538491C05D4F27FD94E42D99" Source="..\src\cvode.cpp" />
        <File Id="fil5A3628E3C0EB4F750249255C3F6BE9C4" Source="..\src\cvode.h" />
        <File Id="fil255B54A7BB063811A2ABCEC999EF74A6" Source="..\src\cxxKinetics.cxx" />
        <File Id="filE14D7F019EA7F9EC0B910D8D05068B17" Source="..\src\cxxKinetics.h" />
        <File Id="fil8E0EFC5A411AE2B8C1157BD02BCD02CC" Source="..\src\cxxMix.cxx" />
        <File Id="fil4F5F886ED2607087F0AB5EB102DE9098" Source="..\src\cxxMix.h" />
        <File Id="fil1492F82BDF7E9F5C57EA256D520DA530" Source="..\src\dense.cpp" />
        <File Id="fil19BF4ABFDB6A0AE257F3CA32E2344E8A" Source="..\src\dense.h" />
        <File Id="filF8612AA8051400BAAE4E8A621FF519CD" Source="..\src\dumper.cpp" />
        <File Id="filF1AB4B1B3239DC2A18959E83E6E8C217" Source="..\src\dumper.h" />
        <File Id="fil0B18AD2828F5049E0417D8672C679E1E" Source="..\src\dw.cpp" />
        <File Id="filBDE7F84F2123034BA5FE9C1490B9C802" Source="..\src\gases.cpp" />
        <File Id="fil5F34B3847B926B35B99A0369DD7705A7" Source="..\src\global_structures.h" />
        <File Id="fil2FE239D62D80DB8808FB28E898566A14" Source="..\src\input.cpp" />
        <File Id="fil10DAAB73E10235B280CE6C5697B4C557" Source="..\src\integrate.cpp" />
        <File Id="fil6D354E70E046AC99FA714BFF001EBAD2" Source="..\src\inverse.cpp" />
        <File Id="fil6A8C15FB594C8E08670EB4D695771A03" Source="..\src\isotopes.cpp" />
        <File Id="fil67B52C4C842E60FC8C419E2B11E86FCD" Source="..\src\kinetics.cpp" />
        <File Id="filE7DF4C2D37E78A770B1B06BE8C99AEB8" Source="..\src\mainsubs.cpp" />
        <File Id="fil21930CBC2D9B7BDBB7A912677DB0BF6A" Source="..\src\model.cpp" />
        <File Id="fil1EB27EA8D66E4DD787F259E41314ED05" Source="..\src\nvector.cpp" />
        <File Id="filA630B13096F6C82C9B75518DB0F43FD5" Source="..\src\nvector.h" />
        <File Id="fil1E7E7987B0BD295548D2FBEA6D206960" Source="..\src\nvector_serial.cpp" />
        <File Id="fil804AC2DEA5AF6E8631A2901F255054B2" Source="..\src\nvector_serial.h" />
        <File Id="filED0C419A938D89B94C28573BCC318E4E" Source="..\src\parse.cpp" />
        <File Id="filA9C8DC3BF7CD71B46E8D12DD1EB01E6E" Source="..\src\phqalloc.cpp" />
        <File Id="filAD33C5D183EF3FF0897CBA2711D40EA2" Source="..\src\phqalloc.h" />
        <File Id="filE304E2C2BA41B24E621097AF8B45B74A" Source="..\src\phreex.ico" />
        <File Id="fil86EFCAB8B6D785E06AB845DEA9285563" Source="..\src\pitzer.cpp" />
        <File Id="fil373CC68467C58032A3563300A0988AF8" Source="..\src\pitzer_structures.cpp" />
        <File Id="fil760C091344458D59057BE3E5F05DF370" Source="..\src\prep.cpp" />
        <File Id="fil3FEDDD105E7E4CE1FEE9CE282C6149B9" Source="..\src\print.cpp" />
        <File Id="fil48A2837AAE0C3ED38FD8C1CDE424D7BC" Source="..\src\read.cpp" />
        <File Id="filD2B278C3D08F5ED48960CE6AFEC87814" Source="..\src\readtr.cpp" />
        <File Id="fil1160D1DD5DA3498710433CA2A7C254A2" Source="..\src\runner.cpp" />
        <File Id="filCB6F0AE80F03E008A0A36BA189C0DCCD" Source="..\src\runner.h" />
        <File Id="fil33BD37F44922AA9AFF6DFACEB2966730" Source="..\src\sit.cpp" />
        <File Id="filB01C74219BD2EB564BDFC521304C3B14" Source="..\src\smalldense.cpp" />
        <File Id="fil520E38D932E6ECCD6C786C182A96D2C0" Source="..\src\smalldense.h" />
        <File Id="fil71B1613F36AB6CA3FBB75E77E3A65721" Source="..\src\spread.cpp" />
        <File Id="filDFFC04DAD00BD4B2BF78CEF957019BB2" Source="..\src\step.cpp" />
        <File Id="fil5D59836D2FC2B8DCA976D62AE085B6FE" Source="..\src\structures.cpp" />
        <File Id="fil0B0871818DB9F5EA4DE60EC50B3B2294" Source="..\src\sundialsmath.cpp" />
        <File Id="filE386BE9CC7A7BD66FF02E70966C4AAA8" Source="..\src\sundialsmath.h" />
        <File Id="filE6C73F8B2663A38CDBE110A90E063ED1" Source="..\src\sundialstypes.h" />
        <File Id="fil453F272721E9D2EDAA78BFEAD286C087" Source="..\src\tally.cpp" />
        <File Id="fil3A11B59F16F3E8A2AB0A083F20511DEF" Source="..\src\tidy.cpp" />
        <File Id="fil8E947D3677972C115CE5179877F35B4A" Source="..\src\transport.cpp" />
        <File Id="filEFC15448183325AF335ABC834F1446B7" Source="..\src\utilities.cpp" />
      </Component>
    </DirectoryRef>

    <!-- common -->
    <DirectoryRef Id="common">
      <Component Id="common" Guid="{4E23D951-7503-4478-A5E9-9C39E084A229}">
        <File Id="fil9A98E26372BD9B064B93AB2EC62BC9B4" Source="..\src\common\Parser.cxx" />
        <File Id="fil6A041F997A61FDB3E3FC666AEEEFDE9D" Source="..\src\common\Parser.h" />
        <File Id="fil74DE8EC04BE67C9ECF4BF7724A6FA1D7" Source="..\src\common\PHRQ_base.cxx" />
        <File Id="filC4170C8187D017A87724E89721411B27" Source="..\src\common\PHRQ_base.h" />
        <File Id="filB3ECE96664AEC978D4AE009973B6E02A" Source="..\src\common\PHRQ_io.cpp" />
        <File Id="filA7A776E74CEA2976BE4A259A156B7EE8" Source="..\src\common\PHRQ_io.h" />
        <File Id="fil57F93199E7D9F7C7B638981FC76B8672" Source="..\src\common\phrqtype.h" />
        <File Id="filB0534B05654C3DCF0F0F7D139FC4C4CB" Source="..\src\common\Utils.cxx" />
        <File Id="filF8962495B2AFD1BD4B9523247E85B1AB" Source="..\src\common\Utils.h" />
      </Component>
    </DirectoryRef>

    <!-- PhreeqcKeywords -->
    <DirectoryRef Id="PhreeqcKeywords">
      <Component Id="PhreeqcKeywords" Guid="{8F9A37B6-0384-4388-912B-896B27036C2E}">
        <File Id="fil6400E100FC96EE175BE28B9B6FD0612B" Source="..\src\PhreeqcKeywords\Keywords.cpp" />
        <File Id="fil75E2BCB85BB0F8CD1626331B43110AEB" Source="..\src\PhreeqcKeywords\Keywords.h" />
      </Component>
    </DirectoryRef>

    <!-- test -->
    <DirectoryRef Id="test">
      <Component Id="test" Guid="F65BCF27-C9F9-49a2-A6BD-F63A887CB57C">
        <File Id="fil60A83EC251E6CBC641F4AD35F35044F1" Source="..\win\check.bat" />
        <File Id="fil44D3B1871068824B68134F030E6EAE44" Source="..\win\clean.bat" />
        <File Id="fil770D262A99CA2FAFA4E59ED0A53B2D52" Source="..\win\test.bat" />
      </Component>
    </DirectoryRef>

    <!-- phreeqc.bat -->
    <DirectoryRef Id="bin">
      <Component Id="phreeqc.bat" Guid="608BA86A-213C-47c0-8487-E128C7FAD8CB">
        <File Id="phreeqc.bat" Name="phreeqc.bat" Source="..\win\phreeqc.bat" />
      </Component>
    </DirectoryRef>

    <!-- phreeqc.exe -->
    <DirectoryRef Id="Release">
      <Component Id="phreeqc.exe" Guid="*">
<?if $(sys.BUILDARCH)=x64 ?>
        <File Id="phreeqc.exe" Name="phreeqc.exe" Source="..\x64\Release\phreeqc.exe" />
<?else?>
        <File Id="phreeqc.exe" Name="phreeqc.exe" Source="..\Release\phreeqc.exe" />
<?endif?>
      </Component>
    </DirectoryRef>

    <!-- clr phreeqc.exe -->
    <DirectoryRef Id="ClrRelease">
<?if $(sys.BUILDARCH)=x64 ?>
      <Merge Id="CRT" Language="1033" SourceFile="$(env.DEV_MERGE_DIR)\microsoft_vc80_crt_x86_x64.msm" DiskId="1" />
      <Merge Id="CRT Policy" Language="1033" SourceFile="$(env.DEV_MERGE_DIR)\policy_8_0_Microsoft_VC80_CRT_x86_x64.msm" DiskId="1" />
      <Component Id="CLR.phreeqc.exe" Guid="*">
        <File Id="CLR.phreeqc.exe" Name="phreeqc.exe" Source="..\x64\ClrRelease\phreeqc.exe" />
      </Component>
      <Component Id="CLR.phreeqc.exe.config" Guid="*">
        <File Id="CLR.phreeqc.exe.config" Name="phreeqc.exe.config" Source="..\x64\ClrRelease\phreeqc.exe.config" />
      </Component>
<?else?>
      <Merge Id="CRT" Language="1033" SourceFile="$(env.DEV_MERGE_DIR)\microsoft_vc80_crt_x86.msm" DiskId="1" />
      <Merge Id="CRT Policy" Language="1033" SourceFile="$(env.DEV_MERGE_DIR)\policy_8_0_Microsoft_VC80_CRT_x86.msm" DiskId="1" />
      <Component Id="CLR.phreeqc.exe" Guid="*">
        <File Id="CLR.phreeqc.exe" Name="phreeqc.exe" Source="..\ClrRelease\phreeqc.exe" />
      </Component>
      <Component Id="CLR.phreeqc.exe.config" Guid="*">
        <File Id="CLR.phreeqc.exe.config" Name="phreeqc.exe.config" Source="..\ClrRelease\phreeqc.exe.config" />
      </Component>
<?endif?>
    </DirectoryRef>

    <!-- clr phreeqc.exe -->
    <DirectoryRef Id="bin">
      <Component Id="ZedGraph.dll" Guid="79CFAD0D-46CE-4053-8679-85918182F74E">
        <File Id="ZedGraph.dll" Name="ZedGraph.dll" Source="..\src\ZedGraph.dll" KeyPath="yes" Assembly=".net"/>
      </Component>
    </DirectoryRef>

    <!-- Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\USGS\$(var.Name)-$(var.Build)" Name="shortcuts" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="RELEASE.TXT.lnk"
                  Name="RELEASE.TXT"
                  Target="[APPLICATIONFOLDER]RELEASE.TXT"/>
      </Component>
    </DirectoryRef>

    <!-- PDF Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="PDFShortcuts" Guid="*">
        <Shortcut Id="phreeqci.chm.lnk"
                  Name="Description of Input and Examples for PHREEQC (Version 3)"
                  Target="[doc]phreeqc3.chm"/>
        <Shortcut Id="Phreeqc_2_1999_manual.pdf.lnk"
                  Name="User's Guide to PHREEQC (Version 2 PDF)"
                  Target="[doc]Phreeqc_2_1999_manual.pdf"/>
        <RegistryValue Root="HKCU" Key="Software\USGS\$(var.Name)-$(var.Build)" Name="pdfs" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>



    <!-- This component contains the program executable, files required during execution, and minimal informal documentation.  It cannot be deselected unless the Verification Tests component is deselected. -->
    <Feature Id="ProgramFiles" Title="Program Files" Description="This component contains the program executable, files required during execution, and minimal informal documentation." AllowAdvertise="system" Level="1" Display="expand">
      <ComponentRef Id="top.dir" />
      <ComponentRef Id="database" />
      <ComponentRef Id="phreeqc.bat" />
      <ComponentRef Id="phreeqc.exe" />
      <ComponentRef Id="CLR.phreeqc.exe" />
      <ComponentRef Id="CLR.phreeqc.exe.config" />
      <ComponentRef Id="ZedGraph.dll" />
      <ComponentRef Id="ApplicationShortcut" />
      <Feature Id="Documentation" Title="Documentation" Description="This component contains brief, summary documentation as well as the full, formal program documentation." AllowAdvertise="system" Level="1">
        <ComponentRef Id="doc" />
        <ComponentRef Id="PDFShortcuts" />        
      </Feature>
      <Feature Id="Verification" Title="Verification Tests" Description="This component contains the standard data sets and batch files used in running the verification tests." AllowAdvertise="system" Level="1">
        <ComponentRef Id="examples" />
        <ComponentRef Id="examples_pc" />
        <ComponentRef Id="test" />
      </Feature>
      <Feature Id="Source" Title="Source Code" Description="This component contains the program source code." AllowAdvertise="system" Level="1">
        <ComponentRef Id="src" />
        <ComponentRef Id="PhreeqcKeywords" />
        <ComponentRef Id="common" />
      </Feature>
      <Feature Id="LocalMachine" Display="hidden" Level="0">
        <Condition Level="1">ALLUSERS=1</Condition>
        <MergeRef Id="CRT" />
        <MergeRef Id="CRT Policy" />
      </Feature>
    </Feature>

    <!-- gui -->
    <UIRef Id="WixUI_Advanced"/>
    <Property Id="ApplicationFolderName" Value="$(var.FolderName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ALLUSERS" Value="1" />

    <!-- override default install location -->
<?if $(sys.BUILDARCH)=x64 ?>
    <CustomAction Id="WixSetDefaultPerMachineFolderOverride" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder]USGS\[ApplicationFolderName]" Execute="immediate" />
<?else?>
    <CustomAction Id="WixSetDefaultPerMachineFolderOverride" Property="WixPerMachineFolder" Value="[ProgramFilesFolder]USGS\[ApplicationFolderName]" Execute="immediate" />
<?endif?>
    <InstallExecuteSequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>

    <!--
    Disallow per-user installs
    -->
    <WixVariable Id="WixUISupportPerUser" Value="0" Overridable="no" />

    <!--
    This overrides the default License agreement
    -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

  </Product>
</Wix>
