name: Check UTF-8

# This workflow is triggered on pushes to the repository.
on: push

jobs:
  check_files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out repository
      - run: ./check_utf8.sh
        name: Run check_utf8.sh
