name: CMake

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  check_files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Check out repository
      - run: ./check_utf8.sh
        name: Run check_utf8.sh

  build:
    needs: [check_files]
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.os }}
    env:
      # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
      BUILD_TYPE: Release

    steps:
    - uses: actions/checkout@v3

    - name: Configure
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

  ctest:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    needs: [build]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Install ninja numdiff valgrind (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get install -y ninja-build numdiff valgrind

    - name: Install ninja numdiff (macOS)
      if: runner.os == 'macOS'
      run: brew install ninja numdiff

    - name: Install numdiff (Windows)
      if: runner.os == 'Windows'
      run: |
        pip install gdown
        gdown https://drive.google.com/uc?id=1daElRJphXTXSHdskLJsom_q8KCXW3RUv
        7z x .\msys64.7z

    - name: Set up Visual Studio shell (Windows)
      if: runner.os == 'Windows'
      uses: egor-tensin/vs-shell@v2
      with:
        arch: x64

    - name: CTest (Non-macOS)
      if: runner.os != 'macOS'
      run: ctest -S ctest.cmake -V --output-on-failure --timeout 900 -j 2

    - name: CTest (macOS)
      if: runner.os == 'macOS'
      run: ctest -S ctest.cmake -V --output-on-failure --timeout 900 -j 3

    - name: CMemCheck (Linux)
      if: runner.os == 'Linux'
      run: ctest -S cmemcheck.cmake -V --output-on-failure -j 2

    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.os }}-results
        path: ${{ github.workspace }}/_ctest/Testing/
